.public-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.public-logo-img {
  max-height: 100px;
  max-width: 90%;
  object-fit: contain;
}

@media (max-width: 640px) {
  .public-logo-img {
    max-height: 80px;
  }
}
